html, body, #root, #root > div
{
    height: 100%;
    background-color: #D0312D;
}

#login_main_container
{
    background-color: white;
    padding: 40px;
    border-radius: 10px;
}

#login_left_container
{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#login_right_container
{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center
}

#main_image
{
    width: 200px;
    height: 400px
}

#main_image_text
{
    color: #D0312D;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#merchant_portal
{
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nbs_input
{
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    border-radius: 10px;
    height: 25px;
    outline: none
}

#submit_btn
{
    margin-top: 40px;
    background-color: green;
    border: 2px solid green;
    border-radius: 10px;
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 10px;
    outline: none
}

#forgot_password_text
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: #696969;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#login_text
{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    color: #696969;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#signup_text
{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    color: #696969;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#signup_btn
{
    text-decoration: none
}