html, body, #root, #root > div
{
    height: 100%;
    background-color: #D0312D;
}

#login_main_container
{
    background-color: white;
    padding: 40px;
    border-radius: 10px;
}

#main_image
{
    width: 150px;
    height: 150px
}

#main_image_text
{
    color: #D0312D;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#merchant_portal
{
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nbs_input
{
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    border-radius: 10px;
    height: 25px;
    outline: none
}

.nbs_input_internal
{
    width: 100%;
    background-color: #f2f2f2;
    border: 2px solid #f2f2f2;
    outline: none
}

#submit_btn
{
    margin-top: 40px;
    background-color: green;
    border: 2px solid green;
    border-radius: 10px;
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 10px;
    outline: none
}

#forgot_password_text
{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    color: #696969;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#login_text
{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    color: #696969;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#signup_text
{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    color: #696969;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#signup_btn
{
    text-decoration: none
}

.nbs_input_red
{
    padding: 20px;
    margin-top: 20px;
    width: 100%;
    background-color: #f2f2f2;
    border-radius: 10px;
    height: 25px;
    outline: none;
    border: 1px solid red;
}

#password_icon
{
    width: 25px;
    height: 25px;
}

/* Media queries */
@media only screen and (max-width: 600px)
{
	#login_main_container
    {
        background-color: white;
        padding: 20px;
        margin: 15px;
        border-radius: 10px;
    }
}