#signup_main_container
{
    background-color: white;
    padding: 40px;
    border-radius: 10px;
}

#login_btn
{
    text-decoration: none
}

#upload_image_container
{
    margin-top: 20px;
    width: 100%;
}

#upload_image_label
{
    color: #696969
}

#checkboxes_container
{
    margin-top: 20px;
    width: 100%
}

#left_checkbox
{
    margin-right: 20px;
}

#right_checkbox
{
    margin-left: 20px;
}

#checkbox_label
{
    margin-right: 10px;
    margin-top: 5px;
}

#opening_hours_container, #opening_days_container
{
    margin-top: 20px;
    width: 100%
}

#opening_hours_label, #opening_days_label
{
    color: #696969
}

#opening_hours_sub_label
{
    color: #696969;
    font-size: 12px;
    margin-right: 10px
}

#from_hours_container
{
    margin-right: 10px;
}

#to_hours_container
{
    margin-left: 10px;
}